/* ==============================
   NAVBAR
   ============================== */
.navbar {
  background-color: #6E4062 !important;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar a,
.navbar i {
  color: #ffffff !important;
}

.navbar .nav-link:hover,
.navbar a:hover,
.navbar i:hover {
  color: #4386DF !important;
}

/* Ícones da navbar */
.navbar .bi-bell,
.navbar .bi-list {
  font-size: 1.5rem;
}

.navbar .bi-bell {
  position: relative;
  margin-right: 20px;
}

.navbar .bi-list {
  margin-left: 5px;
}

/* ==============================
   MENU LATERAL
   ============================== */
#menuLateral {
  width: 250px;
  background-color: #6E4062;
  color: white;
}

.menu-header {
  background-color: lch(13.58% 21.94 336.96 / 0.671);
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.menu-header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.menu-body .nav-link {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-body .nav-link:hover {
  background-color: #7d4f7b;
  color: #4386DF;
}

.menu-body .nav-link i {
  font-size: 1.2rem;
}

/* Botão Sair fixo no fim do menu */
.menu-body ul:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #fff;
}

.container {
  margin-top: -300px; /* sobe tudo mais */
  width: 1000px;
   width: 1000px;   /* aumenta a largura → mais espaço entre texto e botão */
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px; /* diminui só o título */
}


.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: 20px; /* afasta os itens */
}
/* Botão switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c; /* Vermelho no OFF */
  border-radius: 24px;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .3s;
}

/* Estado ON */
input:checked + .slider {
  background-color: #4CAF50; /* Verde no ON */
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Texto ON/OFF */
.onoff:after {
  content: "OFF";
  color: white;
  position: absolute;
  right: 6px;
  top: 3px;
  font-size: 10px;
}

input:checked + .onoff:after {
  content: "ON";
  left: 6px;
  right: auto;
}

