/* Navbar roxa */
.navbar {
  background-color: #6E4062 !important; 
}

/* Links, textos e ícones brancos */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar a,
.navbar i {
  color: #ffffff !important;
}

/* Hover azul */
.navbar .nav-link:hover,
.navbar a:hover,
.navbar i:hover {
  color: #4386DF !important;
}

/* Ícone de notificação maiorzinho */
.navbar .bi-bell {
  font-size: 1.5rem;
  position: relative;
}

/* aumenta só o ícone do menu lateral */
.navbar .bi-list {
  font-size: 1.5rem; /* maior */
  margin-left: 5px;   /* distancia da borda esquerda */
  
}

/* aumenta o sininho também */
.navbar .bi-bell {
  font-size: 1.5rem;
  margin-right: 20px;  /* distancia da borda direita */
}

/* Menu Lateral */
#menuLateral {
  width: 250px;
  background-color: #6E4062; /* roxo escuro */
  color: white;
}

/* Cabeçalho do usuário */
.menu-header {
  background-color: #9b6fa8; /* roxo mais claro */
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.menu-header img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Itens do menu */
.menu-body .nav-link {
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-body .nav-link:hover {
  background-color: #7d4f7b; /* roxo mais claro no hover */
  color: #4386DF;
}

.menu-body .nav-link i {
  font-size: 1.2rem;
}

/* Separar o botão Sair */
.menu-body ul:last-child {
  position: absolute;
  bottom: 0;
   width: 100%;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

/* Caixa Quem Somos */
.quem-somos {
  background: #ffd3dc;
  border: 0px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Caixa Quem Somos Alunos*/
.quem-somoss {
  background: #ffd3dc;
  border: 0px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-top: 100px;  /* 👈 aqui você controla o quanto a caixa desce */
  padding: 15px;      /* diminui o espaçamento interno */
  background-color: #ffd3dc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  max-width: 400px;
  margin: 100px;
  height: 200px;  /* altura do quadrado */
}


.quem-somos h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.quem-somoss h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.quem-somos p {
  text-align: justify;
  margin-bottom: 12px;
  line-height: 1.5;
}

.creditos {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #000000;
}

/* Logo centralizada */
.logo {
  display: flex;
  margin-left: 0;       /* ajusta horizontalmente */
  align-self: flex-start; /* ajusta verticalmente */
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 500px;
  height: auto;
}

/* Parcerias */
.parcerias {
  grid-column: span 2; /* ocupa largura inteira */
  text-align: center;
  margin-top: -670px;
  margin-left: 600px; /* distância da esquerda */

}

.parcerias h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.parcerias img {
  max-width: 200px;
  height: auto;
}